@media (max-width: 950px) {
  .app {
    flex-direction: column;
    &__emoji-box {
      margin: auto auto 3rem auto;
    }
  }
}
@media (max-width: 650px) {
  .container {
    padding: 0 0.5rem;
  }
  .app {
    &__mood-history {
      padding: 0;
      &_empty-state {
        width: 100%;
      }
      &_list {
        &_item {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .app {
    &__emoji-box {
      width: 90%;
      height: 450px;
    }
  }
}
