.container {
  max-width: $website-width;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}

//Margin
.mx {
  &-1 {
    margin: 0 1rem !important;
  }
  &-1-5 {
    margin: 0 1.5rem !important;
  }
  &-2 {
    margin: 0 2rem !important;
  }
  &-3 {
    margin: 0 3rem !important;
  }
  &-4 {
    margin: 0 4rem !important;
  }
}

button {
  box-shadow: none;
  outline: none;
  z-index: 0;
  border: 0;
  cursor: pointer;
}

.sad {
  border: 1px solid #F93131;
}
.indifferent {
  border: 1px solid #FF9635;
}
.happy {
  border: 1px solid #1D9A39;
}
