@import 'config';
@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  background: #fff;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.15rem;
}

img {
  width: 100%;
}

%emoji-shared {
  width: 55px;
  height: 55px;
  //background-color: rgba(175, 170, 168, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 30px;
    height: 26px;
    object-fit: contain;
  }
}

%head-text-shared {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.app {
  display: flex;
  margin: 110px auto;

  &__emoji-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 464px;
    height: 577px;
    border-radius: 15px;
    border: 1px solid #C4C4C4;

    &_image {
      width: 94px;
      height: 79px;
      object-fit: contain;
    }
    &_text {
      font-size: 24px;
      font-weight: bold;
      line-height: 26px;
      text-align: center;
      color: #898583;
      margin-top: 22px;
    }
    &_container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 57px;

      &_image {
        width: 55px;
        height: 55px;
        background-color: rgba(175, 170, 168, 0.2);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        img {
          width: 30px;
          height: 26px;
          object-fit: contain;
        }
      }
      &--sad {
        background-color: rgba(249, 49, 49, 0.1);
        border: 2px solid #F93131;
      }
      &--indifferent {
        background-color: rgba(255, 150, 53, 0.2);
        border: 2px solid #FF9635;
        //margin: 0 20px;
      }
      &--happy {
        background-color: rgba(50, 194, 82, 0.2);
        border: 2px solid #1D9A39;
      }
    }

    &_selected {
      margin-top: 16px;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;

      &--sad {
        color: #F93131;
      }
      &--indifferent {
        color: #FF9635;
      }
      &--happy {
        color: #1D9A39;
      }
    }

    &_submit {
      background-color: #EFEEEE;
      border-radius: 5px;
      padding: 8px 20px;
      color: #fff;
      margin-top: 44px;
      font-size: 18px;
      line-height: 26px;
      font-family: Nunito;

      &--active {
        background-color: #120C35;
      }
    }
  }
  &__mood-history {
    flex: 1;
    //background-color: yellow;
    padding: 0 3rem 3rem 3rem;
    //margin-left: 80px;

    &_head {
      display: flex;
      justify-content: center;
      align-items: center;

      &_image {
        width: 49px;
        height: 41px;
        margin-right: 10px;
      }
      &_text {
        font-weight: bold;
        font-size: 24px;
        line-height: 26px;
        color: #35100C;
      }
    }

    &_title {
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: rgba(53, 16, 12, 0.5);
      margin-top: 8px;
    }

    &_empty-state {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 345px;
      height: 264px;
      border: 1px solid #EFEEEE;
      border-radius: 5px;
      margin: 54px auto auto auto;
      

      &_img {
        width: 72px;
        height: 61px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        
      }
      &_text {
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #AFAAA8;
        margin-top: 13px;
      }
    }

    &_list {
      margin-top: 24px;

      &_item {
        display: flex;
        align-items: center;
        padding: 15px 21px;
        background-color: rgba(243, 244, 246, 0.7);
        position: relative;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 12px;
        width: 480px;
        
        &_cat-img {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &--sad {
          border: 1px solid #F93131;
        }
        &--indifferent {
          border: 1px solid #FF9635;
        }
        &--happy {
          border: 1px solid #1D9A39;
        }

        &_img-sad {
          @extend %emoji-shared;
          background-color: rgba(249, 49, 49, 0.1);
          border: 2px solid #F93131;
        }
        &_img-indifferent {
          @extend %emoji-shared;
          background-color: rgba(255, 150, 53, 0.2);
          border: 2px solid #FF9635;
        }
        &_img-happy {
          @extend %emoji-shared;
          background-color: rgba(50, 194, 82, 0.2);
          border: 2px solid #1D9A39;
        }
        &_text {
          z-index: 10;
          margin-left: 12px;
          &_head_sad {
            @extend %head-text-shared;
            color: #F93131;
          }
          &_head_indifferent {
            @extend %head-text-shared;
            color: #FF9635;
          }
          &_head_happy {
            @extend %head-text-shared;
            color: #1D9A39;
          }
          &_date {
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: #C4C4C4;
          }
        }
      }
    }
  }
}

@import 'media';

